@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    background-color: #edede9;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans'
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
    font-size: 82px;
    

}

h2{
    font-size: 56px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    
}

img {
    height: 700px;
    width: 650px;
}